#site-content {
    @include clearfix;
    margin-bottom: 30px;
}

.site-wrap {
    // @include breakpoint(xs) {
    //     padding: 0 10px;
    // }
    // @include breakpoint(sm) {
    //     padding: 0 10px;
    //     width: 600px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    @include breakpoint(md) {
        padding: 0;
        width: 1150px;
        margin-left: auto;
        margin-right: auto;
        @include clearfix();
    }
}

.main-col {
    width: 510px;
    float: left;
}

.sidebar-col {
    width: 300px;
    float: right;
    margin-left: 20px;
    &--left {
        float: left;
        margin-right: 20px;
        margin-left: 0;
    }
}

.zone--highlight {
    @include breakpoint(md) {
        @include clearfix;
        .story--highlight {
            float: right;
            width: 440px;
        }
        .latest-listing {
            width: 220px;
            float: left;
        }
    }
}

.zone-listing {
    @include clearfix;
    @include breakpoint(md) {}
}

&.two-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px;
    >* {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
    }
}

&.four-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px;
    >* {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
    }
}







/* area style */

.area {
    @include clearfix;
    margin-bottom: 20px;
    .zone {
        margin-bottom: 0;
    }
    &--grey {
        background: #f2f2f2;
        .story-listing {
            @include clearfix;
            font-size: 0;
            margin: 0 -5px;
            li {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                padding: 0 5px;
            }
        }
        @include breakpoint(md) {
            .story--featured {
                padding-bottom: 0;
                border-bottom: none;
                width: 330px;
                float: left;
            }
            .story-listing {
                width: 670px;
                float: right;
                margin-left: -10px;
                margin-right: -10px;
                li {
                    padding: 0 10px;
                    width: 33.33%;
                }
            }
        }
    }
    &--special {
        @extend .area--grey;
        background: url(../img/special-are-bg.png) left top no-repeat;
        background-size: cover;
        .zone__title {
            background: none;
        }
    }
}

.category__listing {
    margin-bottom: 20px;
}